
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_LayoutAdvyTeam.cshtml";
}

<div id="employees-list"></div>
<div id="employee-details" style="display: none">
    <button id="back" class="k-primary" style="cursor: pointer;">Back</button>
    <div id="employee-job" style="position: relative; top:150px;left: 10px;"></div>
    <span id="employee-name" style="position: absolute; top:185px;left: 80px; color: black; font-size: 24px;"></span>

    <div id="competencies-list" style="position:relative; margin-top:200px;"></div>
</div>