
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_LayoutAdvyTeam.cshtml";
}

<div id="chart1" style="width: 500px; display: block;"></div>

<div id="grid1" style="width: 700px; display: block;position: absolute; left: 550px; top: 180px;"></div>

